{% extends "base.html" %}

{% block lab %} Лабораторная работа 3 {% endblock %}

{% block main %}
<link rel="stylesheet" href="/static/tiket.css">


<h1 style="text-align: center;">Покупка железнодорожного билета</h1>
<div class="div">
    <form action="/lab3/tiketpay">
        <label for="fio">ФИО пассажира:</label>
        <input type="text" id="fio" name="fio" required><br><br>
        
        <label for="type">Тип:</label>
        <select id="type" name="tiket" required>
            <option value="детский">Детский</option>
            <option value="взрослый">Взрослый</option>
        </select><br><br>
        
        <label for="berth">Полка:</label>
        <select id="berth" name="berth" required>
            <option value="нижняя">Нижняя</option>
            <option value="верхняя">Верхняя</option>
            <option value="верхняя боковая">Верхняя боковая</option>
            <option value="нижняя боковая">Нижняя боковая</option>
        </select><br><br>
        
        <label for="baggage">С багажом:</label>
        <input type="checkbox" id="baggage" name="baggage"><br><br>
        
        <label for="age">Возраст:</label>
        <input type="number" id="age" name="age" min="18" max="120" required><br><br>
        
        <label for="departure">Пункт выезда:</label>
        <input type="text" id="departure" name="departure" required><br><br>
        
        <label for="destination">Пункт назначения:</label>
        <input type="text" id="destination" name="destination" required><br><br>
        
        <label for="date">Дата поездки:</label>
        <input type="date" id="date" name="date" required><br><br>
        
        <input type="submit" value="Купить билет">
    </form>
</div>
{% endblock %}